.header{
    height: 70px;
    background-color: cadetblue;
}

.title{
    margin: 0 !important;
    padding: 11px;
}

.body {
    padding: 2rem;
}

.table {
    width: 100%;
    border: 1px solid black;
}

.offcanvas .offcanvas-end {
    top: 71px;
  }